<div class="row" style="margin: 1%;">
    <button mat-buttom routerLink='/home'>Home</button>
    <button mat-button routerLink='/gallery'>Gallery</button>
    <button mat-button routerLink='/viewchild'>View Chile</button>
    <button mat-button routerLink='/event'>Event $</button>
    <button mat-button routerLink='/firstModule'>Project Module  First </button>
    <button mat-button routerLink='secondModule'>Project Module  Second </button>
    <button mat-button routerLink='/thirdModule'>Project Module  third </button>
    <button mat-button routerLink='/fourthModule'>Project Module  fourth </button>
    <button mat-button routerLink='/fiveModule'>Project Module  five </button>
</div>
 <br>
