.main {
    width: 100%;
    height: 100%;
}
.header {
    width: 100%;
    height: 15%;
    border: 1px solid red;
}
.img {
    width: 90%;
    height: 80%;
    margin: 0% 5% 5% 5%;
    border: 1px solid red;
}
.imgsize {
    width: 15vw;
    height: 15vw;
}
