<div class="main">
 <div class="header">
     <p>This is header!</p>
     <button mat-button >Lalji Yadav</button>

 </div>
 <div class="img">
     <table>
       <div class="row">
        <tr class="col" *ngFor="let obj of galleryImg">
            <p style="width: 10%; margin: 0px; padding: 0px;">{{obj.id}}</p> <br>
            <p style="width: 10%; margin: 0px; padding: 0px;">{{obj.title}}</p>
            <p style="width: 10%; margin: 0px; padding: 0px;"> <button (click)="btnModel(obj)">
                 <img class="imgsize" src="{{obj.imgUrl}}" alt=""> </button></p> <br>
            
        </tr>
       </div>
     </table>

 </div>
</div>
