.main {
    width: 100%;
    height: 90vh;
    border: 1px solid red;
}
.show {
    width: 50%;
    height: 50vh;
    border: 1px solid red;
}
.hide {
    width: 50%;
    height: 50vh;
    border: 1px solid green;
}
